@model IEnumerable<BookStoreAssignmentD3.Models.Book>

@{
    ViewData["Title"] = "Books List";
}

<h2>Books</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Book</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Author</td>
            <td>@item.Price</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
